img.img-fluid {
    overflow:hidden;
} 

img.foto-grupo {
    border-radius:50%;
    display: inline-block;
    position: relative;
    height:140px;
    width: 140px;
    transition: transform .2s; /* Animation */
    overflow: hidden;
}

img.foto-grupo:hover {
    transform: scale(2.5);
}

h2.nome-grupo {
    color:#ff5722;
}

p.descricao-grupo {
    font-size: 1.2rem;
}

p.descricao-tiktok {
    color: #000;
    margin-top: 30px;
}

h1#primeiro {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
    text-shadow:2px 2px 2px rgb(0, 0, 0);
}